<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
      <meta name="format-detection" content="telephone=no">
      <meta name="msapplication-tap-highlight" content="no">
      <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
      <title>Shopt</title>
      <meta http-equiv="content-type" content="text/html;charset=utf-8" />
      <!--Import Google Icon Font-->
      <link href="css/material-icons.css" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
      <!-- css animations -->
      <link rel="stylesheet" href="css/animate.min.css">
    </head>
<!--
   This program is free software: you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation, either version 3 of the License, or
   any later version.

   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.

   You should have received a copy of the GNU General Public License
   along with this program. If not, see http://www.gnu.org/licenses/.
-->
    <body>
      <div id="app" class="lighten-5" v-bind:class="color" style="height:100%; min-height:100vh;">

        <div class="progress" v-show="loading">
            <div class="indeterminate"></div>
        </div>

        <!-- Main navigation -->
        <navigation
          v-show="!loading" style="display:none"
          v-bind:view="'list'"
          v-bind:color="color"
          v-bind:saved="saved"
          v-bind:jigglestar="hiliteRecommendations"
          v-on:navaction="showRecommendations"
          >
        </navigation>

        <div class="container" v-show="!loading" style="display:none">
          <div class="section">

              <!-- Floating action button -->
              <div class="fixed-action-btn">
                <a class="btn-floating btn-large" v-bind:class="color">
                  <i class="large material-icons">edit</i>
                </a>
                <ul>
                  <li v-show="list.length > 0"><a class="btn-floating green modal-trigger" href="#cleanListModal"><i class="material-icons">delete</i></a></li>
                  <li v-show="history.length > 0"><a class="btn-floating red" href="graphs.html"><i class="material-icons">&#xE6C4;</i></a></li>
                  <li><a class="btn-floating blue modal-trigger" href="#addItemModal" v-on:click="refreshItemAutoComplete"><i class="material-icons">add</i></a></li>
                </ul>
              </div>

              <!-- list of check items -->
              <div class="row">
                <div class="col s12">
                <ul class="collection" v-show="list.length > 0">
                  <transition-group name="list-transition" tag="ul" enter-active-class="animate__animated animate__bounceIn" leave-active-class="animate__animated animate__backOutRight">
                    <list-item class="collection-item"
                      v-for="(item, index) in sortedList"
                      v-bind:key="item"
                      v-bind:id="'listItem' + index"
                      v-bind:item="item"
                      v-on:remove="removeItem(arguments[0])"
                      v-on:checked="addHistory(arguments[0])"
                      v-on:unchecked="undoHistory(arguments[0])">
                    </list-item>
                  </transition-group>
                </ul>
                <list-total
                  v-bind:checked="checkedItemCount"
                  v-bind:total="list.length"></list-total>
                </div>
              </div>

              <!-- welcome message -->
              <transition name="howto-transition" enter-active-class="animate__animated animate__flipInX" leave-active-class="animate__animated animate__flipOutX">
                <div class="row" v-show="history.length == 0">
                  <div class="col s12 m8">
                    <div class="card blue lighten-4">
                      <div class="card-content black-text">
                        <span class="card-title">Welcome to Shopt!</span>
                        <p>Add some items to your shopping list and go shopping!</p>
                      </div>
                    </div>
                  </div>
                </div>
              </transition>

              <!-- recommendation tip -->
              <transition name="howto-transition" enter-active-class="animate__animated animate__flipInX" leave-active-class="animate__animated animate__flipOutX">
                <div class="row" v-show="hiliteRecommendations && Shopt.data.list.length == 0">
                  <div class="col s12 m8">
                    <div class="card blue lighten-4">
                      <div class="card-content black-text">
                        <span class="card-title">Recommendations</span>
                        <p>Tap the star above to see your recommendations.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </transition>

          </div>  <!-- /section -->
        </div>  <!-- container -->

         <!-- recommended items modal -->
        <div id="recommendedPopup" class="modal bottom-sheet">
          <div class="modal-content">
            <h5><i class="material-icons">star</i> Recommended</h5>
            <p v-show="recommendations.length == 0">As I learn more about how often you tick certain items, I will be able to recommend them here in the future.</p>

          <transition-group
            name="recommended-transition"
            tag="div"
            leave-active-class="animate__animated animate__backOutUp"
            class="collection">
              <a href="#!" class="collection-item lighten-4"
                v-for="pred in recommendations"
                v-bind:key="pred"
                v-bind:class="{ 'active':pred.dueDays < 1 }"
                v-on:click="addItem(pred.text)">
                <h5><i class="material-icons">send</i> {{ pred.text }}, due {{ pred.dueDate }}</h5>
              </a>
          </transition-group>

          </div>
        </div>

        <!-- Add item modal -->
        <div id="addItemModal" class="modal">
          <div class="modal-content">

            <div class="row">

              <div class="col s12">
                <history-select
                autoclear="true"
                v-show="!sortedUnpickedHistory.length == 0"
                class="lighten-4"
                v-bind:data="sortedUnpickedHistory"
                title="pick a previous item"
                v-on:input="addItemByText(arguments[0])"></history-select>
              </div>

              <div class="input-field col s12">
                <i class="material-icons prefix">&#xE854;</i>
                <input type="text" id="add-item-input" class="autocomplete" v-model="newItemText" v-on:keyup.enter="addItemAndClearInput">
                <label for="add-item-input">What do you need?</label>
              </div>

              <p>&nbsp;</p>
              <p>&nbsp;</p>
              <p>&nbsp;</p>

            </div>

          </div>
          <div class="modal-footer">
            <a href="#!" class="modal-action waves-effect btn" v-bind:class="color" v-on:click="addItemAndClearInput">Add</a>
            <a href="#!" class="modal-action modal-close waves-effect btn-flat left">Close</a>
          </div>
        </div>

        <!-- Clean list modal -->
        <div id="cleanListModal" class="modal">
          <div class="modal-content">
            <h4>Clean List</h4>
            <p>Remove all checked items?</p>
          </div>
          <div class="modal-footer">
            <a href="#!" class="modal-action modal-close waves-effect btn-flat">No</a>
            <a href="#!" class="modal-action modal-close waves-effect btn" v-bind:class="color" v-on:click="cleanAndSave">Yes</a>
          </div>
        </div>

      </div>  <!-- /app -->

      <script type="text/javascript" src="js/jquery.min.js"></script>
      <script type="text/javascript" src="js/materialize.min.js"></script>
      <script type="text/javascript" src="js/materialize.init.js"></script>
      <script type="text/javascript" src="js/vue.min.js"></script>
      <script type="text/javascript" src="js/moment.min.js"></script>
      <script type="text/javascript" src="js/polyfills.js"></script>
      <script type="text/javascript" src="js/shopt.components.js"></script>
      <script type="text/javascript" src="js/shopt.logic.js"></script>
      <script type="text/javascript" src="js/shopt.ui.js"></script>
      <script type="text/javascript" src="js/shopt.index.js"></script>
      <script type="text/javascript" src="js/shopt.bind.js"></script>
      <script type="text/javascript" src="js/shopt.cordova.js"></script>
      <script type="text/javascript" src="cordova.js"></script>

    </body>
</html>
